:host {
  display: block;
  padding: 2rem 1rem;
}

.box {
  max-width: 32rem;
  margin: 0 auto;
}

p {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;

  mat-icon {
    flex-shrink: 0;
    color: var(--mat-sys-primary);
  }
}
