:host {
  display: inline-block;
}

mat-chip {
  --mat-chip-elevated-container-color: var(--mat-sys-secondary-container);
  --mat-chip-label-text-color: var(--mat-sys-on-secondary-container);

  &.limited {
    --mat-chip-elevated-container-color: var(--mat-sys-tertiary-container);
    --mat-chip-label-text-color: var(--mat-sys-on-tertiary-container);
  }

  &.advanced {
    --mat-chip-elevated-container-color: var(--mat-sys-error-container);
    --mat-chip-label-text-color: var(--mat-sys-on-error-container);
  }
}
